.product-areas {
  grid-column: full-start / -1;

  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
}

.areas-slider {

  max-width: 114rem;
  margin: 6rem auto;
  margin-bottom: 0rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 2rem auto;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 0 auto;
    
  }


  &__slider-for {
    

    .slick-slide {
      margin: 8rem 8rem;
      margin-top: 2rem;

      @media only screen and (max-width: $bp-medium) {
        margin: 4rem 4rem;

      }

      @media only screen and (max-width: $bp-small) {
        margin: 1rem 2rem;
        margin-bottom: 4rem;
      }
  
    }


    &__item {
      box-shadow: $shadow-medium-short;
      position: relative;
    
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-position: center;
        z-index: 0;
      }

      &__title {
        font-size: 2rem;
        position: absolute;
        bottom: 2rem;
        left: 3rem;
        color: $color-white;
        z-index: 2;
      }
    }
  }

  &__slider-nav {
    color: $color-secondary;
    font-size: 1.6rem;
    overflow: hidden;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.4rem;
    }

    & .slick-slide {
      outline: none; // this one
    }

    & .slick-current {
      color: $color-supporting-light;
    }
    &__item {
      display: flex !important;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      font-weight: 700;
      letter-spacing: 0.1rem;
      transition: all 0.5s;
    }

    & div[aria-hidden="true"]{
      //display: none !important;
      transition: opacity .3s;
      opacity: 0 !important;
    }
  }

  &__btn {
    &--left {
      position: absolute;
      top: 40%;
      left: 0;
      z-index: 40;
    }
    &--right {
      position: absolute;
      top: 40%;
      right: 0;
      z-index: 40;
    }
  }
}
