.product-cabins {
    // display: grid;
    // grid-template-columns: $page-container;
    // //grid-template-rows: minmax(30vh, min-content);
    // position: relative;

    // @media only screen and (max-width: $bp-small) {
    //     grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(
    //         8,
    //         [col-start] minmax(min-content, 14rem) [col-end]
    //       ) [center-end] minmax(3rem, 1fr) [full-end];
    // }

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $page-width; //defines max width

    padding: 0 6rem;
    margin-bottom: 6rem;
    @media only screen and (max-width: $bp-small) {
        padding: 0 3rem;
    }

    &__cabin {
        width: 100%;
        display: flex;
        position: relative;
        padding: 4rem 0;

        //grid-template-rows: min-content;
        align-items: center;

        &:nth-child(even) {
            .product-cabins__cabin__image-area {
                order: 2;
                padding-right: 0rem;
                padding-left: 4rem;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;

            &:nth-child(even) {
                .product-cabins__cabin__image-area {
                    order: -1;
                    padding-right: 0rem;
                    padding-left: 0rem;
                    margin-bottom: 2rem;
                }
            }
        }

        &__image-area {
            width: 50%;
            padding-right: 4rem;

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
                margin-bottom: 2rem;
                padding-right: 0rem;
                padding-left: 0rem;
            }

            img {
                object-fit: contain;
                width: 100%;
                height: auto;
                box-shadow: $shadow-medium-short;

                @media only screen and (max-width: $bp-medium) {
                    box-shadow: none;
                }
            }
        }

        &__content {
            width: 50%;
            height: min-content;

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
            }

            // & p {
            //     font-size: 1.4rem;
            // }

            &__title {
                position: relative;
                z-index: 1;
                span {
                    position: absolute;

                    right: 0rem;
                    top: 0rem;
                    font-family: $font-secondary;
                    color: rgba($color-primary, $alpha: 0.1);
                    font-size: 3.5rem;
                    z-index: -1;
                }
            }

            &__feature-grid {
                display: grid;
                //grid-template-rows: min-content min-content;
                grid-template-columns: repeat(3, 1fr);

                position: relative;
                margin-bottom: 2rem;

                @media only screen and (max-width: $bp-small) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-left: 0rem;
                    margin-right: 2rem;
                }
            }

            &__feature-item {
                display: flex;
                flex-direction: column;
                span {
                    display: block;
                    font-size: 1.6rem;
                    //font-weight: 600;
                    color: $color-primary;
                }

                &__title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    color: $color-grey-2;
                }
            }

            &__description {
                margin-bottom: 1rem;
            }

            &__listing {
                margin: 2.5rem 0;
                & span {
                    margin-right: 0.5rem;
                    font-weight: 600;
                }

                font-size: 1.4rem;
                color: $color-primary;
            }

            &__cta {
                margin-top: 2rem;
                display: flex;
                justify-content: center;

                @media only screen and (max-width: $bp-medium) {
                    padding-top: 0rem;
                }
            }
        }
    }

    &__hotels {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin: 0 10rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-small) {
            margin: 0;
            margin-bottom: 2rem;
        }

        &__slider {
            max-width: 114rem;
            width: 100%;
            margin: 0 6rem;
            .slick-track {
                width: 100%;
            }

            .slick-slide {
                margin: 1rem;
                margin-bottom: 3rem;
                box-shadow: $shadow-short-bottom;

                @media only screen and (max-width: $bp-small) {
                    margin: 0.5rem;
                    margin-bottom: 3rem;
                }
            }
        }

        &__btn {
            &--left {
                position: absolute;
                z-index: 10;
                bottom: 50%;
                left: -7rem;
                transform: translateY(60%);
            }
            &--right {
                position: absolute;
                z-index: 10;
                bottom: 50%;
                right: -7rem;
                transform: translateY(60%);
            }
        }
    }

    //Note
    &__note {
        grid-column: center-start / center-end;
    }

    &__page-divider {
        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }
    }
}

.product-technical {
    width: 100%;
    display: flex;
    position: relative;
    padding: 4rem 0;
    justify-content: center;
    background-color: $color-primary;
    align-items: center;
    flex-direction: column;


    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, rgba($color-white, 0.8), rgba($color-white, 0.8)),
            url(img/bg/topo-1.png);

        filter: invert(100%);
        opacity: 0.35;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__content {
        width: 100%;
        max-width: $page-width;
        display: flex;
        justify-content: space-between;
        margin: 6rem 0;
        z-index: 10;
        align-items: flex-start;

        //side padding
        padding: 0 6rem;
        @media only screen and (max-width: $bp-small) {
            padding: 0 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            margin: 3rem 0;
        }


        &__image-area {
            position: relative;
            width: 40%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            @media only screen and (max-width: $bp-small) {
                width: 100%;
                margin-bottom: 4rem;
            }
            

            &__title {
                font-size: 1.4rem;
                text-transform: uppercase;
                letter-spacing: .2rem;
                color: $color-grey-light-1a;
                margin-bottom: 1.5rem;

                @media only screen and (max-width: $bp-small) {
                    text-align: center;
                }
            }


            & a {
                width: 100%;
                //height: 100%;
                display: flex;
                justify-content: start;
            }
            & img {
                object-fit: contain;
                width: 100%;
                height: 100%;
                max-height: 35rem;
                //border: 1px solid $color-grey-1;
            }
            & svg {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                fill: $color-primary;
                height: 2rem;
                width: 2rem;
                opacity: 0;
                transition: all 0.3s;
            }
            &:hover {
                & svg {
                    opacity: 1;
                }
            }
        }

        &__info {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 6rem;

            @media only screen and (max-width: $bp-small) {
                width: 100%;
                margin-left: 0rem;

            }

            &__title {
                font-size: 1.4rem;
                text-transform: uppercase;
                letter-spacing: .2rem;
                color: $color-grey-light-1a;
                margin-bottom: 1.2rem;

                @media only screen and (max-width: $bp-small) {
                    text-align: center;
                }
            }


            
            &__list {
                list-style: none;

                &__item {
                    font-size: 1.6rem;
                    display: flex;
                    width: 100%; 
                    justify-content: space-between;

                    &--vertical {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-top: 2rem;
                        
                    }
                    
                    &__title {
                        color: $color-supporting-light-3;
                        font-weight: 600;
                        
                    }

                    &__data {
                        color: $color-grey-light-1a;
                        text-align: right;

                        &--vertical {
                            text-align: left;   
                            text-justify: inter-character;          
                        }
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                        fill: $color-primary;
                    }
                }
            }

        
        }
    }
}

//
