.product-cabins {
    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: minmax(30vh, min-content);
    position: relative;


            
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end] 
          ) [center-end] minmax(3rem, 1fr) [full-end]; 
    }


    @media only screen and (max-width: $bp-large) {
        grid-template-rows: minmax(22vh, min-content);
    }

    &::after {
        //intro background
        content: "";
        background-color: $color-grey-light-1;
        height: 100%;
        width: 100%;
        grid-column: full-start / full-end;
        grid-row: 1 / span 1;
        z-index: -10;
        border-bottom: 1px solid $color-grey-light-1a;
    }

    &__cabin {
        grid-column: full-start / full-end;
        display: grid;
        grid-template-columns: $page-container;

        position: relative;
        overflow-x: hidden;
        padding-top: 4rem;
        padding-bottom: 8rem;
        row-gap: 8rem;
        align-items: center;
        grid-template-rows: min-content;

        @media only screen and (max-width: $bp-large) {
            padding-top: 2rem;
            padding-bottom: 3rem;
                }

        @media only screen and (max-width: $bp-medium) {
            row-gap: 4rem;
            grid-template-rows: min-content min-content;
        } 

        

        &__picture {
            grid-column: full-start / col-end 4;
            justify-self: end;
            //max-width: 60rem;
            margin-right: 4rem;
            margin-left: 4rem;
            position: relative;
            //display: flex;



            //stack
            @media only screen and (max-width: $bp-medium) {
                grid-column: full-start / full-end;
                grid-row: 1 / span 1;
                justify-self: center;
                max-width: 100%;
            }


            &--flipped {
                grid-column: col-start 5 / full-end;
                justify-self: start;
                //stack
                @media only screen and (max-width: $bp-medium) {
                    grid-column: full-start / full-end;
                }
            }

            img {
                object-fit: contain;
                width: 100%;
                height: auto;
                box-shadow: $shadow-medium-short;
            }
        }

        &__content {
            grid-column: col-start 5 / center-end;

            grid-row: 1 / span 1;

            @media only screen and (max-width: $bp-medium) {
                grid-column: full-start / full-end;
                grid-row: 2 / span 1;
                margin-left: 6rem;
                margin-right: 6rem;
            }
            @media only screen and (max-width: $bp-small) {
                margin: 0 3rem;
            } 

            

            &--flipped {
                grid-column: center-start / col-end 4;
                margin-left: 0;

                //stack
                @media only screen and (max-width: $bp-medium) {
                    grid-column: full-start / full-end;
                    margin: 0 6rem;
                }
                @media only screen and (max-width: $bp-small) {
                    margin: 0 3rem;
                } 
            }

            &__title {
                position: relative;
                z-index: 1;
                span {
                    position: absolute;
                    // top: -5rem;
                    // left: -0.5rem;
                    right: 0rem;
                    top: 0rem;
                    font-family: $font-secondary;
                    color: rgba($color-primary, $alpha: 0.1);
                    font-size: 3.5rem;
                    z-index: -1;
                }
            }

            &__feature-grid {
                display: grid;
                //grid-template-rows: min-content min-content;
                grid-template-columns: repeat(3, 1fr);

                position: relative;
                margin-bottom: 2rem;

                @media only screen and (max-width: $bp-small) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-left: 0rem;
                    margin-right: 2rem;
                } 
            }

            &__feature-item {
                display: flex;
                flex-direction: column;
                span {
                    display: block;
                    font-size: 1.8rem;
                    font-weight: 600;
                }

                &__title {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $color-primary;
                }
            }

            &__description {
                margin-bottom: 1rem;
            }

            &__listing {
                margin: 2.5rem 0;
                & span {
                    margin-right: 0.5rem;
                    font-weight: 600;
                }

                font-size: 1.4rem;
                color: $color-primary;
            }

            &__cta {
                margin-top: 2rem;
                display: flex;
                justify-content: center;

                @media only screen and (max-width: $bp-medium) {
                    padding-top: 0rem;
                }
            }
        }
    }

    //Note
    &__note {
        grid-column: center-start / center-end;
    }

    &__page-divider {
        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }
    }

    &__deckplan {
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8rem;

        row-gap: 4rem;

        @media only screen and (max-width: $bp-medium) {

            grid-template-columns: 1fr;
        }



        &__picture {
            position: relative;
            &__img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
            & svg {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                fill: $color-primary;
                height: 2rem;
                width: 2rem;
                opacity: 0;
                transition: all .3s;
            }
            &:hover{
                & svg {
                    opacity: 1;
                }
            }

        }

        &__content {

            ul {
                list-style: none;
            }

            li {
                font-size: 1.6rem;
                display: grid;
                width: 100%;
                grid-template-columns: 1fr 2fr;
                font-weight: 600;
                margin: 1rem;
                margin-left: 0;
                span {
                    color: $color-primary;
                    margin-right: 1rem;
                }
                svg {
                    height: 2rem;
                    width: 2rem;
                    fill: $color-primary;
                }
            }
        }
    }
}
