%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;

    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 300;
}

.heading-2 {
    @extend %heading;
    font-size: 3rem;
    //font-style: italic;
    color: $color-primary;
    margin-bottom: 2rem;

    &--light {
        color: $color-grey-1;
    }

    &--dark {
        color: $color-grey-2;
    }
}

.heading-3 {
    @extend %heading;
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 2.4rem;
    color: $color-primary;
    display: inline-block;

    @media only screen and (max-width: $bp-small) {
        font-size: 2.8rem;
    }

    &--underline {
        &::after {
            content: "";
            height: 2px;
            width: 50%;
            display: block;
            background-color: $color-grey-light-2;
            margin: 1.5rem 0;
            margin-top: 1rem;
            z-index: 9;
        }
    }

    &--underline-white {
        &::after {
            content: "";
            height: 1px;
            width: 8rem;

            display: block;
            background-color: $color-white;
            margin: 1.5rem 0;
            z-index: 9;
        }
    }
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 700;
    color: $color-primary;
}

.heading-5 {
    @extend %heading;
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-grey-1;
    letter-spacing: 0.2rem;
}

//Margins
.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}

//Paragraph
p {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.attention-box {
    text-align: center;
    margin: 4rem;
    padding: 4rem 6rem;
    font-family: $font-secondary;
    border: 1px solid $color-grey-light-1a;
    letter-spacing: 0.15rem;
    font-size: 1.4rem;

    ul {
        margin: 0 5rem;
    }
    li {
        text-align: start;
        font-family: $font-primary;
        font-size: 1.2rem;
        padding: 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem 3rem;
        margin: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
        padding: 1rem 1.5rem;
        margin: 1rem;
    }
}

.page-divider {
    grid-column: center-start / center-end;
    //max-width: 114rem;
    display: flex;
    flex-direction: row;

    color: $color-primary;
    font-family: $font-secondary;
    font-size: 4.5rem;
    line-height: 5.5rem;
    letter-spacing: 0.3rem;
    font-weight: 500;
    text-align: center;

    &::before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid currentColor;
        margin: auto;

        margin-right: 2rem;

        @media only screen and (max-width: $bp-medium) {
            margin-right: 1.5rem;
        }
    }
    &::after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid currentColor;
        margin: auto;

        margin-left: 2rem;

        @media only screen and (max-width: $bp-medium) {
            margin-left: 1.5rem;
        }
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 3.2rem;
        line-height: 4rem;
        letter-spacing: 0.2rem;
    }

}

.svg-divider {
    height: 9rem;
    width: 30rem;

    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr min-content 1fr;

    position: relative;
    margin: 0rem auto;
    align-content: center;
    column-gap: 2rem;

    color: $color-primary;
    @media only screen and (max-width: $bp-small) {
        height: 6rem;
    }

    & svg {
        height: 5rem;
        width: 5rem;
        stroke-width: 2;
        color: currentColor;
        grid-column: 2 / span 1;

        @media only screen and (max-width: $bp-small) {
            height: 3rem;
            width: 3rem;
        }
    }

    &::after {
        content: "";
        grid-column: 3 / span 1;
        height: 2px;
        width: 50%;
        background-color: currentColor;
        z-index: 12;
        align-self: center;
        justify-self: start;
    }
    &::before {
        content: "";
        grid-column: 1 / span 1;
        height: 2px;
        width: 50%;
        background-color: currentColor;
        z-index: 12;
        align-self: center;
        justify-self: end;
    }
}

.sub-divider {

    grid-column: center-start / center-end;
    text-align: center;
    
    display: flex;
    flex-direction: row;

    font-size: 3rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    color: $color-primary;
    letter-spacing: 0.3rem;
    font-weight: 600;
    z-index: 10;


    &::before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid currentColor;
        margin: auto;

        margin-right: 2rem;
        @media only screen and (max-width: $bp-medium) {
            margin-right: 1.5rem;
        }
    }
    &::after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid currentColor;
        margin: auto;

        margin-left: 2rem;

        @media only screen and (max-width: $bp-small) {
            margin-left: 1.5rem;
        }
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    //Old
    // grid-column: center-start / center-end;
    // text-align: center;
    // margin: 4rem 0;
    // margin-bottom: 2rem;

    // display: grid;
    // grid-template-columns: minmax(6rem, 1fr) minmax(min-content, max-content) minmax(6rem, 1fr); //FIX THIS
    // align-items: center;
    // column-gap: 2.5rem;

    // font-size: 3rem;
    // text-transform: uppercase;
    // color: $color-primary;
    // letter-spacing: 0.3rem;
    // font-weight: 600;
    // z-index: 10;

    // @media only screen and (max-width: $bp-medium) {
    //     font-size: 2rem;
    // }

    // //lines on both sides effect
    // &::before {
    //     content: "";
    //     height: 1px;
    //     display: block;
    //     background-color: currentColor;
    // }

    // &::after {
    //     content: "";
    //     height: 1px;
    //     display: block;
    //     background-color: currentColor;
    // }
}

.sub-divider-text {
    grid-column: center-start / center-end;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.list-svg {
    display: grid;
    list-style: none;
    row-gap: 1rem;

    li {
        display: grid;
        grid-template-columns: min-content 1fr;

        svg {
            margin-top: 2px;
            height: 1.8rem;
            width: 1.8rem;
            fill: $color-primary;
        }

        span {
            margin-left: 1rem;
            font-size: 1.6rem;
        }
    }
}

.link-social {
    svg {
        margin-top: 2px;
        height: 1.8rem;
        width: 1.8rem;
        fill: $color-grey-light-2;
        transition: all 0.2s;
        &:hover {
            fill: $color-white;
        }
    }
}

//Icon Outline Button
.badge {
    color: $color-grey-light-2;
    background-color: transparent;
    padding: 1rem 2rem;
    border: none;
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        transition: all 0.15s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 100%;
        width: 100%;
        border-radius: 2.5rem;
        border: 1px solid currentColor;
    }

    &--small {
        padding: 0.75rem 1.15rem;
        font-size: 1.2rem;
    }

    &--dark {
        color: $color-primary;
    }
}

//Solid Badge
.badge-solid {
    color: $color-white;
    background-color: $color-primary;
    padding: 0.8rem 1.6rem;

    margin-left: 1rem;

    font-size: 1.4rem;
    font-weight: 600;
    display: inline;

    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-radius: 8rem;

    &--red {
        background-color: $color-red;
    }
    &--green {
        background-color: $color-green;
    }

    &--small {
        font-size: 1.1rem;
        padding: 0.6rem 1.2rem;
    }
}

.drop-cap-1 {
    p:first-child:first-letter {
        font-size: 400%;
        border: 1px solid #d4d5d7;
        padding: 0 2rem;
        padding-top: 5px;
        display: inline-block;
        top: 2px;
        float: left;
        line-height: 1;
        margin-right: 1rem;
        font-weight: 300;
    }
}

.drop-cap-1a {
    p:nth-child(2):first-letter {
        font-size: 400%;
        border: 1px solid #d4d5d7;
        padding: 0 2rem;
        padding-top: 5px;
        display: inline-block;
        top: 2px;
        float: left;
        line-height: 1;
        margin-right: 1rem;
        font-weight: 300;
    }
}

.drop-cap-2 {
    p:first-child:first-letter {
        font-weight: 400;
        font-size: 5em;
        float: left;
        line-height: 0.5;
        margin-top: -0.08em;
        margin-left: -0.02em;
        margin-right: 0.05em;
    }
}

.drop-cap-3 {
    p:first-child:first-letter {
        font-weight: 400;
        font-size: 5em;
        float: left;
        line-height: 0.6;
        margin-top: 0.1em;
        margin-left: -0.02em;
        margin-right: 0.07em;
        margin-bottom: -0.07em;
    }
}

.star-gold {
    fill: $color-gold;
}

.star-grey {
    fill: $color-grey-light-2;
}

.warning-text {
    color: $color-red;
}

//fallback styles
h3 {
    color: $color-primary;
    font-size: 2rem;
    display: block;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

h4 {
    color: $color-primary;
    font-size: 1.8rem;
    display: block;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

h5 {
    color: $color-primary;
    font-size: 1.8rem;
    display: block;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}
