.page-nav {
    &__button {
        display: none;

        letter-spacing: 0.4rem;
        text-transform: uppercase;
        justify-content: start;
        align-items: center;
        grid-column: 1 / -1;

        font-size: 1.5rem;
        height: 6.5rem;

        cursor: pointer;

        padding-left: 3rem;
        color: $color-primary;

        & svg {
            height: 2rem;
            width: 2rem;
            fill: currentColor;
            transition: all 0.2s;
            opacity: 1;
            margin-left: 1rem;
        }

        &--active {
            svg {
                transform: rotate(90deg);
                opacity: 1;
            }
        }
    }

    &__collapse {
        display: none;
        position: relative;
        &--active {
            display: block;

            &::after {
                content: "";
                position: absolute;
                height: 1000%;
                width: 100%;
                background-color: rgba($color-black, 0.3);
                bottom: -1000%;
                left: 0;
                z-index: 40;
            }
        }

        &__list {
            //color: red;
            list-style: none;
            font-size: 1.5rem;
            letter-spacing: 0.4rem;
            text-transform: uppercase;
            //font-weight: 600;

            width: 100%;

            transition: all 0.2s;

            &__item {
                &__link {
                    display: block;
                    padding: 2rem 0;
                    padding-left: 3rem;
                    text-align: start;
                    &:link,
                    &:visited {
                        text-decoration: none;
                        color: $color-primary;
                        cursor: pointer;
                        &:not(:last-child) {
                            border-bottom: 1px solid rgba($color-grey-light-2, 0.9);
                        }

                        &:first-child {
                            border-top: 1px solid rgba($color-grey-light-2, 0.9);
                        }
                    }

                    &:hover {
                        color: $color-supporting-light;
                    }
                }
            }
        }
    }
}
