.home-destinations {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;
    grid-column: 1 / -1;
    padding-top: 6rem;
    margin-bottom: 6rem;
    outline: none;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image:  
        linear-gradient(to top, rgba($color-white, .8), rgba($color-white, .8)), url(img/bg/topo-1.png);
        opacity: 0.35;
        top: 0;
        left: 0;
        z-index: -3;
    }

    &__header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: $page-container;

        margin-bottom: 4rem;
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: $page-container-small;
        }

        &__title {
            margin: 0;
            @media only screen and (max-width: $bp-small) {
                margin-bottom: 2rem;
            }
        }

        &__sub-text {
            grid-column: center-start / center-end;
            font-size: 1.6rem;
            text-align: center;
        }
    }

    &__destinations-area {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin: 0 10rem;
        margin-bottom: 6rem;

        @media only screen and (max-width: $bp-small) {
            margin: 0;
            margin-bottom: 6rem;
        }
        &__slider {
            max-width: 130rem;
            width: 100%;
            margin: 0 6rem;

            .slick-slide {
                margin: 2rem;
                @media only screen and (max-width: $bp-small) {
                    margin: 1rem
                }
            }
        }

        &__btn {
            &--left {
                position: absolute;
                z-index: 10;
                bottom: 50%;
                left: -7rem;
                transform: translateY(60%);
            }
            &--right {
                position: absolute;
                z-index: 10;
                bottom: 50%;
                right: -7rem;
                transform: translateY(60%);
            }
        }
    }

    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.home-destination-card {
    background-color: grey;
    display: grid !important;

    margin-bottom: 4rem;
    height: 36rem;
    text-decoration: none;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: $bp-small) {
        height: 50vh;
    }

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;

        grid-row: 1 / -1;
        grid-column: 1 / -1;
        z-index: 0;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        border-radius: .4rem;
        background-image: linear-gradient(to top, rgba($color-black, .6), rgba($color-black, 0));
    }

    

    &__title-area {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        z-index: 5;

        text-transform: uppercase;
        color: $color-white;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;

        margin-bottom: 6rem;

        &__title {
            font-family: $font-secondary;
            font-size: 2.5rem;
            line-height: 3.2rem;

            letter-spacing: 0.5rem;
            margin-bottom: 1rem;
        }

        &__subtitle {
            font-size: 1.4rem;
            letter-spacing: 0.3rem;
            font-weight: 300;
        }
    }
}
