.home-hero {
    width: 100%;
    grid-row: nav-start / hero-end;
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: $page-container;
    grid-template-rows: 9rem 1fr;
    height: 100%;

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: $page-container-small;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;

        background-image: linear-gradient(to bottom, rgba(black, 0.3), transparent 20%),
            linear-gradient(to top, rgba(black, 0.8), transparent 30%),
            linear-gradient(to top, rgba(black, 0.2), rgba(black, 0.2));

        @media only screen and (max-width: $bp-medium) {
            background-image: linear-gradient(to bottom, rgba(black, 0.3), transparent 20%),
                linear-gradient(to top, rgba(black, 0.8), transparent 60%),
                linear-gradient(to top, rgba(black, 0.2), rgba(black, 0.2));
        }
    }

    &__bg {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;

        height: 100%;
        width: 100%;
        z-index: 1;
        max-height: 100vh;
    }

    &__content {
        grid-column: center-start / center-end;
        grid-row: 2 / -1;
        z-index: 5;

        max-height: 80rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &__title-group {
            display: grid;
            max-width: 75rem;
            color: $color-white;
            position: relative;
            align-self: center;
            padding-top: 3rem;

            &__title {
                font-size: 6rem;
                line-height: 7rem;
                text-align: center;
                font-family: $font-secondary;
                letter-spacing: 0.3rem;
                font-weight: 500;
                text-transform: uppercase;

                @media only screen and (max-width: $bp-small) {
                    font-size: 4rem;
                    line-height: 5rem;
                    letter-spacing: 0.2rem;
                }
                @media only screen and (max-width: $bp-xsmall) {
                    font-size: 3rem;
                    line-height: 4rem;
                }
            }
            &__divider {
                height: 9rem;
                width: 100%;

                display: grid;
                grid-template-columns: 1fr min-content 1fr;

                position: relative;

                align-content: center;
                column-gap: 2rem;

                @media only screen and (max-width: $bp-small) {
                    height: 6rem;
                }

                & svg {
                    height: 5rem;
                    width: 5rem;
                    stroke-width: 2;

                    grid-column: 2 / span 1;

                    @media only screen and (max-width: $bp-small) {
                        height: 3rem;
                        width: 3rem;
                    }
                }

                &::after {
                    content: "";
                    grid-column: 3 / span 1;
                    height: 2px;
                    width: 100%;
                    background-color: $color-white;
                    z-index: 12;
                    align-self: center;
                }
                &::before {
                    content: "";
                    grid-column: 1 / span 1;
                    height: 2px;
                    width: 100%;
                    background-color: $color-white;
                    z-index: 12;
                    align-self: center;
                }
            }

            &__subtitle {
                font-size: 2.5rem;
                text-align: center;
                letter-spacing: 0.5rem;
                font-weight: 300;
                font-family: $font-secondary;
                text-transform: uppercase;

                // grid-row: 3 / span 1;
                // grid-column: 1 / -1;

                @media only screen and (max-width: $bp-xxsmall) {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }
            }
        }

        &__search-form {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: min-content;
            justify-content: space-around;
            //margin-bottom: 7rem;
            align-self: center;

            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
            }

            @media only screen and (max-width: $bp-largest) {
                margin-bottom: 0rem;
            }

            @media only screen and (max-width: $bp-small) {
                margin-top: 2rem;
                margin-bottom: 3rem;
            }

            &__inputs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &__form-group {
                    margin: 2rem 0;
                    display: grid;
                    align-content: center;

                    grid-template-columns: min-content 1fr;
                    column-gap: 1rem;
                    width: 40rem;

                    @media only screen and (max-width: $bp-xsmall) {
                        font-size: 1.5rem;
                        width: 28rem;
                    }
                    @media only screen and (max-width: $bp-xxsmall) {
                        width: 34rem;
                        grid-template-columns: 1fr;
                    }

                    &__icon {
                        display: flex;
                        align-items: center;

                        & svg {
                            color: $color-gold;
                            stroke-width: 2;
                            height: 5rem;
                            width: 5rem;
                        }

                        @media only screen and (max-width: $bp-xxsmall) {
                            display: none;
                        }
                    }

                    &__input-group {
                        display: flex;
                        flex-direction: column;
                        align-self: center;
                        position: relative;
                        height: 6rem;

                        &__label {
                            letter-spacing: 0.3rem;
                            font-size: 1.5rem;
                            margin-bottom: 0.3rem;
                            text-transform: uppercase;
                            font-weight: 600;
                            color: $color-white;
                            margin-left: 1rem;
                            transition: opacity 0.2s;
                            &.open {
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            &__cta {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem;

                &__button {
                    background-color: transparent;
                    border: 2px solid $color-gold;
                    text-transform: uppercase;
                    font-family: $font-primary;
                    color: $color-white;
                    white-space: nowrap;
                    font-size: 1.5rem;
                    letter-spacing: 0.3rem;
                    font-weight: 500;

                    cursor: pointer;
                    height: 6rem;
                    width: 16rem;
                    outline: none;
                    transition: all 0.2s;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: rgba($color-gold, 0.95);
                        color: rgba($color-black, 1);
                        font-weight: 600;
                    }

                    @media only screen and (max-width: $bp-small) {
                        white-space: normal;
                        line-height: 3rem;
                        font-size: 1.8rem;
                    }

                    &.loading {
                        background-color: rgba($color-gold, 0.95);
                        cursor: default;
                        & span {
                            display: none;
                        }
                        & .lds-ring {
                            display: inline-block;
                        }
                        //
                    }
                }
            }
        }
    }
}

//DESTINATION SELECTION CONTROL ----------------------
.home-destination-select {
    position: absolute;
    top: 2rem;
    left: 0;

    color: rgba($color-white, 0.85);
    font-family: $font-primary;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: 300;

    height: 4rem;
    padding: 0 1rem;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
    width: 32rem;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.5rem;
        width: 28rem;
    }

    &::-webkit-input-placeholder {
        color: rgba($color-white, 0.85);
    }

    &:hover {
        background-color: rgba($color-black, 0.85);
        box-shadow: inset 0 -2px 0 $color-gold;

        cursor: pointer;

        &::-webkit-input-placeholder {
            color: rgba($color-white, 0.85);
        }
    }

    &:focus,
    &.open {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
        outline: 0;
        background-color: rgba($color-black, 1);
        box-shadow: inset 0 -2px 0 $color-gold;
        //box-sizing: border-box;
        color: $color-white;

        &::-webkit-input-placeholder {
            color: $color-white;
        }
    }

    &.error {
        //box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
        //outline: 0;
        //background-color: rgba($color-black, 1);
        box-shadow: inset 0 -2px 0 $color-red;
        //box-sizing: border-box;
        color: $color-white;

        &::-webkit-input-placeholder {
            color: $color-white;
        }
    }
}

.home-destination-value-list {
    position: absolute;
    z-index: 15;
    left: 0;
    width: 32rem;
    bottom: calc(100% - 2rem); //to open vertically
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    list-style: none;
    margin-top: 4rem;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #000000;
    }
    &::-webkit-scrollbar {
        width: 4px;
        background-color: #000000;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-grey-3;
    }

    &.open {
        max-height: 24rem;
        overflow: auto;
        //border-bottom: 2px solid $color-grey-3;
    }

    li {
        position: relative;
        height: 4rem;
        background-color: rgba($color-black, 0.95);
        color: $color-white;
        padding: 0 1rem;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
        opacity: 1;

        justify-content: space-between;

        // For some icon, text etc
        & span {
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: $color-grey-light-2;
        }

        &:hover {
            background-color: rgba(#353535, 0.95);
            color: $color-gold;
        }

        &.closed {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            opacity: 0;
        }
    }
}

.home-date-select {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;

    color: rgba($color-white, 0.85);
    font-family: $font-primary;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: 300;

    height: 4rem;
    padding: 0 1rem;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    width: 34rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    @media only screen and (max-width: $bp-xsmall) {
        font-size: 1.5rem;
        width: 28rem;
    }

    &:hover {
        background-color: rgba($color-black, 0.85);
        box-shadow: inset 0 -2px 0 $color-gold;

        cursor: pointer;

        &::-webkit-input-placeholder {
            color: rgba($color-white, 0.85);
        }
    }

    &.open {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
        outline: 0;
        background-color: rgba($color-black, 1);
        box-shadow: inset 0 -2px 0 $color-gold;
        //box-sizing: border-box;
        color: $color-white;

        &::-webkit-input-placeholder {
            color: $color-white;
        }
    }
}

.home-date-values {
    position: absolute;
    z-index: 15;
    left: 0;
    width: 100%;
    bottom: calc(100% - 2rem); //to open vertically

    list-style: none;
    margin-top: 4rem;
    overflow: hidden;
    max-height: 0;

    transition: 0.3s ease-in-out;

    width: 34rem;

    background-color: rgba($color-black, 0.95);

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &.open {
        max-height: 24rem;
    }

    display: flex;
    flex-direction: column;

    &__years {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        &__year {
            font-size: 2rem;
            color: $color-gold;
            letter-spacing: 0.2rem;
            width: 100%;
            text-align: center;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            cursor: pointer;

            position: relative;
            transition: all 0.2s;
            &::after {
                content: "";
                position: absolute;
                bottom: 0.4rem;
                left: 50%;
                transform: translateX(-50%);
                width: 6rem;
                height: 1px;
                background-color: $color-gold;
                opacity: 0;
            }

            &:hover {
                background-color: $color-black-highlight;
            }

            &.selected {
                font-weight: 500;
                color: $color-white;
                position: relative;

                &::after {
                    opacity: 1;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    &__months {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        row-gap: 0.5rem;
        list-style: none;

        padding: 1rem;

        & li {
            font-size: 1.5rem;
            color: $color-white;
            letter-spacing: 0.1rem;
            width: 6rem;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            border: 1px solid $color-gold;
            border-radius: 3rem;
            box-sizing: border-box;
            display: flex;
            align-content: center;
            justify-content: center;
            background-color: transparent;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
                background-color: $color-gold;
                color: $color-black;
                font-weight: 500;
            }

            &.selected {
                background-color: $color-gold;
                color: $color-black;
                font-weight: 500;
            }

            &.disabled {
                //background-color: $color-gold;
                color: $color-grey-1;
                border: 1px solid $color-grey-1;
                cursor: default;
                font-weight: 500;
                &:hover {
                    background-color: transparent;
                    color: $color-grey-1;
                    //font-weight: 400;
                }
            }
        }
    }

    // &.open {
    //     max-height: 24rem;
    //     overflow: auto;
    // }
}
