//SERP Result Card
.search-result {
    border: 1px solid $color-grey-light-1a;
    border-radius: 0.4rem;
    padding: 2rem;

    display: grid;
    grid-template-columns: 28rem 1fr 18rem;
    column-gap: 4rem;
    cursor: pointer;
    transition: all 0.3s;
    height: min-content !important;
    width: 100%;
    //margin-left: 3rem; //take out later

    &:link,
    &:visited {
        text-decoration: none;
        color: $color-grey-1;
    }

    &__image-area {
        width: 100%;
        height: min-content;
        display: flex;
        & img {
            width: 100%;
            height: auto;
            object-fit: contain; //fix
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        
        padding: 1rem 0;

        &__top {
            display: flex;
            flex-direction: column;
            &__title-group {
                padding-bottom: 1rem;
                &__title {
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: $color-primary;
                }

                &__subtitle {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    align-self: end;
                    letter-spacing: 0.2rem;
                    line-height: 1.3rem;
                }
            }
            &__snippet {
                font-size: 1.5rem;
            }
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-grey-light-1a;
        }

        &__bottom {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            &__details {
                padding: 1rem 0;
                &__group {
                    &__title {
                        color: $color-supporting;
                        font-weight: 600;
                    }

                    &__text {
                    }
                }
            }

            &__experiences {
                display: flex;
                padding-top: 1rem;
                &__item {
                    & .experience-icon {
                        margin: 0;
                        margin-right: 0.5rem;
                        transform: scale(0.9);

                        & svg {
                            stroke: none !important;
                            stroke-width: 0 !important;
                            
                        }
                    }
                }
            }
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        //justify-content: space-between;

        padding-top: 2rem;

        &__info {
            height: 100%;
            
            &__price-from {
                padding-bottom: 1rem;
                &__text {
                    font-size: 1.4rem;
                }

                &__price {
                    font-size: 3.2rem;
                    font-weight: 600;
                    color: $color-primary;

                    & span {
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        color: $color-primary;             
                        font-weight: 600;
                    }
                }
            }

            &__attributes {
                height: 100%;

                &__item {
                    position: relative;
                    
                    display: flex;
                    text-align: center;
                    //align-items: center;
                    flex-direction: column;
                    margin-bottom: 1.5rem;
        
              
        
                    &__data {
                      color: $color-primary;
                      display: flex;
                      align-items: center;
                      height: 100%;
                      text-align: start;
        
                      &__icon {
                        margin-right: 1rem;
                        display: flex;
                        align-items: center;
                        & svg {
                          stroke: $color-primary;
                          stroke-width: 4;
                          height: 3rem;
                          width: 3rem;
                          color: $color-primary;
                          fill: $color-primary;
                        }
                      }
        
                      &__text {
                        font-size: 1.6rem;
                        line-height: 2.5rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        width: max-content;
        
                        & .sub-attribute {
                          font-size: 1.1rem;
                          line-height: 1.6rem;
                          font-weight: 600;
                        }
                      }
        
                      & ul {
                        list-style: none;
                        display: flex;
                        font-size: 1.2rem;
                      }
                    }
                  }

            }
        }

        &__cta {
            display: flex;
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: 1rem;

            & button {
                transform: scale(.8);
            }
        }
    }

    // @media only screen and (max-width: $bp-small) {
    //     grid-template-columns: 1fr;
    //     row-gap: 2rem;
    // }

    // &:link,
    // &:visited {
    //     text-decoration: none;
    // }

    // &:hover {
    //     box-shadow: $shadow-medium-around;
    //     border: 1px solid transparent;
    // }

    // &__image {
    //     width: 100%;
    //     height: 100%;
    //     min-height: 20rem;
    //     & img {
    //         object-fit: cover;
    //         width: 100%;
    //         height: 100%;
    //         border-top-left-radius: 0.3rem;
    //         border-bottom-left-radius: 0.3rem;

    //         @media only screen and (max-width: $bp-medium) {
    //             border-top-right-radius: 0.3rem;
    //             border-bottom-right-radius: 0.3rem;
    //         }
    //     }
    // }
    // &__content {
    //     display: grid;
    //     position: relative;
    //     color: $color-grey-1;
    //     &__tag {
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //     }

    //     &__length {
    //         font-size: 1.3rem;
    //         font-weight: 600;
    //         text-transform: uppercase;
    //         align-self: end;
    //         letter-spacing: 0.2rem;
    //     }

    //     &__title {
    //         font-size: 2.5rem;
    //         font-weight: 600;
    //         color: $color-primary;
    //     }

    //     &__description {
    //         font-size: 1.4rem;
    //     }

    //     &__info {
    //         display: grid;
    //         grid-template-columns: 1fr 1fr;

    //         font-size: 1.4rem;

    //         &__price {
    //             display: grid;
    //             grid-template-columns: repeat(3, max-content);
    //             align-items: end;
    //             column-gap: 0.5rem;
    //             &__starting {
    //                 font-size: 1.4rem;
    //                 font-weight: 500;
    //                 padding-bottom: 0.8rem;
    //             }

    //             &__amount {
    //                 font-size: 3rem;
    //                 font-weight: 600;
    //                 color: $color-primary;
    //             }

    //             &__currency {
    //                 text-transform: uppercase;
    //                 color: $color-primary;
    //                 padding-bottom: 0.8rem;
    //                 font-weight: 600;
    //             }
    //         }

    //         &__icons {
    //             justify-self: end;
    //             align-self: end;
    //             padding-bottom: 0.8rem;
    //         }
    //     }
    // }
}
