
  .search-results {
    grid-column: col-start 3 / center-end;
    margin-left: 6rem;
    

    @media only screen and (max-width: $bp-medium) {
        grid-column: center-start / center-end;
        margin-left: 0rem;
    }

    &__top-section {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid $color-grey-light-1a;
        align-items: center;
        height: 4rem;
        &__result-count {
            font-size: 2rem;
            font-weight: 600;
            color: $color-secondary;
        }

        //different style for sort control
        &__controls {
     
        }
    }

    &__grid {
        display: grid;
        row-gap: 3rem;
        padding: 3rem 0;

        &__loading {
            margin: 10rem auto;
            display: flex;
            justify-items: center;
        }
    }

    &__bottom-section {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
}