.search-results {
    margin-left: 3rem;

    width: 75%;

    &__top-section {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid $color-grey-light-1a;
        align-items: center;
        height: 4rem;
        &__result-count {
            font-size: 2rem;
            font-weight: 600;
            color: $color-primary;
        }

        //different style for sort control
        &__controls {
        }
    }

    &__grid {
        display: grid;
        row-gap: 3rem;
        padding: 3rem 0;
        //min-height: 85vh;

        &__loading {
            margin: 10rem auto;
            display: flex;
            justify-items: center;

            @media only screen and (max-width: $bp-medium) {
                margin: 2rem auto;

            }
        }

        &__pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 3rem auto;

            &__pages-group {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5rem;
            }

            &__show-all-group {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__bottom-section {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
}
