// COLOR VARIABLES
$color-primary: #254715;
$color-primary-dark: #254715;
$color-primary-light: #356326;
$color-footer: #254715;
$color-tertiary: #afc48c;
$color-tertiary-rgb: rgb(175, 196, 140);
$color-supporting-selection: #afc48c;

$color-supporting: #356326;
$color-supporting-light: #57754d;
$color-supporting-light-2: #356326;
$color-supporting-light-3: #356326;

$color-green: #00a84b;
$color-red: #de5c52;
$color-gold: #ae712d;

$color-gold-dark-1: #ae712d;
$color-gold-dark: #ae712d;
$color-gold-light: #ae712d;
$color-khaki: #ae712d;

$color-nav: #fff;
$color-white: #fff; 
$color-black: #12100b;
$color-black-highlight: #12100b;
$color-charcoal: #12100b;

$color-grey-light-1: #f8f8f8;
$color-grey-light-1a: #e6e6e6;
$color-grey-light-2: #c2c6c9;

$color-beige-1: #f4efec;
$color-beige-2: #f4efec; 

$color-grey-1: #9ea0a4;
$color-grey-2: #919598;
$color-grey-3: #747474;
$color-grey-4: #3b3b3b;


$color-blue-grey-1: #838f94; 

//border
$inner-border-dark: inset 0px 0px 0px 2px $color-primary;
$inner-border-light: inset 0px 0px 0px 1px $color-grey-light-1a;

@mixin font($font-family, $font-file, $weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + ".ttf");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include font("Metropolis", "../fonts/Metropolis/Metropolis-ExtraLight", 300);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Regular", 400);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Medium", 500);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-SemiBold", 600);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Bold", 700);
@include font("Metropolis", "../fonts/Metropolis/Metropolis-Black", 800);


@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-Regular", 400);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-Medium", 500);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-SemiBold", 600);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-Bold", 700);
@include font("Playfair Display", "../fonts/PlayfairDisplay/static/PlayfairDisplay-ExtraBold", 800);
 
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 400);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 500);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 600);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 700);
@include font("Sorts Mill Goudy", "../fonts/SortsMillGoudy/SortsMillGoudy-Regular", 800);


@include font("Almarai", "../fonts/Almarai/almarai-latin-300-normal", 300);
@include font("Almarai", "../fonts/Almarai/almarai-latin-400-normal", 400);
@include font("Almarai", "../fonts/Almarai/almarai-latin-400-normal", 500);
@include font("Almarai", "../fonts/Almarai/almarai-latin-700-normal", 600);
@include font("Almarai", "../fonts/Almarai/almarai-latin-700-normal", 700);
@include font("Almarai", "../fonts/Almarai/almarai-latin-800-normal", 800);

@include font("Broadsheet", "../fonts/Broadsheet/Broadsheet_Regular", 300);
@include font("Broadsheet", "../fonts/Broadsheet/Broadsheet_Regular", 400);
@include font("Broadsheet", "../fonts/Broadsheet/Broadsheet_Regular", 500);
@include font("Broadsheet", "../fonts/Broadsheet/Broadsheet_Regular", 600);
@include font("Broadsheet", "../fonts/Broadsheet/Broadsheet_Regular", 700);
@include font("Broadsheet", "../fonts/Broadsheet/Broadsheet_Regular", 800);

// FONT VARIABLES
// $font-primary: "Metropolis", sans-serif;
// $font-secondary: "Playfair Display", serif;

$font-primary: "Almarai", sans-serif;
$font-secondary: "Sorts Mill Goudy", serif;
$font-tertiary: "Broadsheet", serif;

//shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.2);
$shadow-medium-short: 0 2rem 3rem rgba(0, 0, 0, 0.2);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.13);
$shadow-bottom: 0 2rem 5rem -4rem rgba(0, 0, 0, 0.3);
$shadow-dark-bottom: 0 3rem 3rem -1rem rgba(0, 0, 0, 0.25);
$shadow-medium-bottom: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.25);
$shadow-short-bottom: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.25);

$shadow-medium-around: 0 0rem 3rem rgba(0, 0, 0, 0.2);
$shadow-short-around: 0 0rem 2rem rgba(0, 0, 0, 0.5);

//RESPONSIVE BREAKPOINTS (use em unit)
$bp-xlargest: 90em; // 1440px

$bp-largest: 75em; // 1200px 

$bp-largest: 75em; // 1200px 
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-xsmall: 25em; // 400px
$bp-xxsmall: 22em; // 352px -- iphone 5/SE


//FLEX
$page-width: calc(112rem + 12rem);

$page-top-padding: 12rem;


$page-width-narrow: calc(80rem + 12rem);






//GRID TEMPLATES
$page-container: [full-start] minmax(6rem, 1fr) [center-start]
  repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

$page-container-small: [full-start] minmax(3rem, 1fr) [center-start]
  repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
