.destination-intro {
    display: grid;
    grid-template-columns: $page-container;
    overflow: hidden;
    position: relative;
    margin-bottom: 8rem;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, rgba($color-white, 0.8), rgba($color-white, 0.8)), url(img/bg/topo-1.png)
            linear-gradient(to top, rgba($color-white, 1) 30%, transparent);
        opacity: 0.35;
        top: 0;
        left: 0;
    }
    //after -- fade white up

    &__bg {

        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(20%);
    }

    &__content {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;

        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8rem;
        padding: 8rem 0;
        &__description {
            &__title {
                font-size: 4rem;
                color: $color-secondary;
                letter-spacing: 0.2rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            &__text {
                font-size: 1.6rem;
            }
        }

        &__locations {
            font-size: 1.4rem;

            &__title {
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-weight: 700;
                margin-bottom: 2rem;
                color: $color-secondary;
            }

            &__list {
                list-style: none;
                color: $color-grey-2;
                margin-bottom: 2rem;
                & li {
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                    & a {
                        padding: 1rem 0;
                        text-decoration: none;
                        color: currentColor;

                        &:hover {
                            color: $color-grey-1;
                        }
                    }
                }
            }
        }
    }

    &__tours {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        z-index: 10;
        &__header {
            display: grid;
            grid-template-columns: $page-container;
            margin-bottom: 6rem;

            &__title {
                margin: 0;
            }

            &__sub-text {
                grid-column: center-start / center-end;
                font-size: 1.6rem;
                text-align: center;
            }
            
        }

        &__best-selling {
            display: flex;
            justify-content: center;
            margin-bottom: 6rem;

            &__slider {
                max-width: 114rem;
                width: 100%;
                margin: 0 6rem;
                // @media only screen and (max-width: $bp-large) {
                    
                // }
    
                .slick-slide {
                    margin: 0 1.5rem;
                }
            }
        }

       
    }

    &__categories {
        z-index: 20;
        grid-column: center-start / center-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
  
        
    }
}
