.destination-secondary {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 6rem;
    outline: none;

    &__header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: $page-container;

        margin-bottom: 6rem;
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: $page-container-small;
        }

        &__title {
            margin: 0;
            @media only screen and (max-width: $bp-small) {
                margin-bottom: 2rem;
            }
        }

        &__sub-text {
            grid-column: center-start / center-end;
            font-size: 1.6rem;
            text-align: center;
            margin-top: 2rem;
            @media only screen and (max-width: $bp-small) {
                margin-top: 1rem;
            }
        }
    }

    &__best-selling {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin: 0 10rem;
        margin-bottom: 6rem;


        // position: relative;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     background-image: linear-gradient(to top, rgba($color-white, 0.8), rgba($color-white, 0.8)),
        //         url(img/bg/topo-1.png);
        //     opacity: 0.35;
        //     top: 0;
        //     left: 0;
        //     z-index: -3;
        // }

        @media only screen and (max-width: $bp-small) {
            margin: 3rem;
            margin-bottom: 6rem;
        }
        &__slider {
            width: 100%;
            max-width: 140rem;

            z-index: 10;

            //side padding
            padding: 0 9rem; //extra +3 for buttons
            @media only screen and (max-width: $bp-small) {
                padding: 0 3rem;
            }

            .slick-slide {
                margin: 1.5rem;
                //margin-bottom: 4rem;
                //box-shadow: $shadow-medium-bottom;
                min-width: 0;
            }
        }
    }

    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
