.destination-tours {
    display: grid;
    grid-template-columns: $page-container;
    overflow: hidden;
    position: relative;
    margin-bottom: 8rem;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, rgba($color-white, 0.8), rgba($color-white, 0.8)),
            linear-gradient(to top, rgba($color-white, 1) 30%, transparent), url(img/bg/topo-1.png);
        opacity: 0.35;
        top: 0;
        left: 0;
    }
    //after -- fade white up

    &__bg {
        z-index: 2;
        grid-column: col-end 4 / -1;
        grid-row: 1 / span 3;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__intro {
        grid-column: center-start / center-end;
        grid-row: 1 / span 1;

        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8rem;
        padding: 8rem 0;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            row-gap: 4rem;
            text-align: center;
            padding: 4rem 0;
        }

        &__description {
            &__title {
                font-size: 4rem;
                color: $color-secondary;
                letter-spacing: 0.2rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            &__text {
                font-size: 1.6rem;
            }
        }

        &__lists {
            font-size: 1.4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;

            &__locations {
                &__title {
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                &__list {
                    list-style: none;
                    color: $color-grey-2;
                    margin-bottom: 2rem;
                    & li {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                        & a {
                            padding: 1rem 0;
                            text-decoration: none;
                            color: currentColor;

                            &:hover {
                                color: $color-grey-1;
                            }
                        }
                    }
                }
            }

            &__experiences {
                &__title {
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    color: $color-secondary;
                }

                &__list {
                    list-style: none;
                    color: $color-grey-2;
                    margin-bottom: 2rem;
                    & li {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                        & a {
                            padding: 1rem 0;
                            text-decoration: none;
                            color: currentColor;

                            &:hover {
                                color: $color-grey-1;
                            }
                        }
                    }
                }
            }
        }
    }

    &__packages {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        z-index: 10;
        margin-bottom: 3rem;
        &__header {
            display: grid;
            grid-template-columns: $page-container;
            margin-bottom: 4rem;

            &__title {
                margin: 0;
            }

            &__sub-text {
                grid-column: center-start / center-end;
                font-size: 1.6rem;
                text-align: center;
            }
        }

        &__best-selling {
            display: flex;
            justify-content: center;
            margin-bottom: 6rem;

            &__slider {
                max-width: 140rem;
                width: 100%;
                margin: 0 6rem;
                position: relative;

                &__btn-left {
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    left: 8vw;
                    z-index: 20;
                }

                &__btn-right {
                    transform: translateY(-50%);

                    position: absolute;
                    top: 50%;
                    right: 8vw;
                    z-index: 20;
                }

                & .slick-slide {
                    margin: 0 1.5rem;
                }

                & .slick-list {
                    padding: 0 25% !important;
                }

                & .slick-current {
                    & .tours-card__content {
                        opacity: 1;
                    }

                    & .tours-card::after {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &__categories {
        z-index: 20;
        grid-column: center-start / center-end;
        grid-row: 3 / span 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
    }
}
