.destination-cruises {
    display: grid;
    grid-template-columns: $page-container;
    position: relative;
    grid-column: 1 / -1;
    margin-bottom: 6rem;
    outline: none;

    &__header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: $page-container;

        margin-bottom: 6rem;
        &__title {
            margin: 0;
        }

        &__sub-text {
            grid-column: center-start / center-end;
            font-size: 1.6rem;
            text-align: center;
        }
    }

    &__best-selling {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-bottom: 6rem;
        &__slider {
            max-width: 114rem;
            margin: 0 6rem;
            // @media only screen and (max-width: $bp-large) {
                
            // }

            .slick-slide {
                margin: 0 1.5rem;
            }
        }
    }

    &__btn {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }
}
