.about-page {
    
    @include pageTopPadding;
   
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;


    & section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

   
    // &__section-mission {
        

    // }

    // &__section-difference {

    // }

    // &__section-team {

    // }

    // &__section-corporate {

    // }


}