.agency-page {
    padding-top: 12rem;
 
    &__section-hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__section-partners {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 6rem;
        padding-top: 3rem;
        position: relative;

    }
}





