.contact-page {
    padding-top: $page-top-padding; //top padding

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    position: relative;
    z-index: 0;

    @media only screen and (max-width: $bp-small) {
        padding-top: $page-top-padding - 3rem;
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: $page-width;
        padding: 0 6rem;
        @media only screen and (max-width: $bp-small) {
            padding: 0 3rem;
        }

        margin-bottom: 6rem;

        &__category {
            font-size: 1.6rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: $color-supporting;
            text-align: center;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        &__title {
            font-size: 5rem;
            line-height: 5.8rem;
            color: $color-primary;
            font-weight: 600;
            text-align: center;
            margin-bottom: 2rem;
        }
        &__subtitle {
            font-size: 1.6rem;
            text-align: center;
            max-width: 75rem;
        }
    }
}

.contact {
    width: 100%;
    max-width: $page-width-narrow;
   

    @include flexPadding;

    &__wrapper {
        padding: 6rem 2rem;
        padding-bottom: 4rem;
        background-color: $color-white;
        border: 2px solid $color-primary;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &__intro {
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid $color-grey-light-1a;
            padding-bottom: 3rem;
            width: 100%;
            max-width: 60rem;

            &__introtext {
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 0;
            }

            &__icon {
                display: flex;
                justify-content: center;
                & svg {
                    height: 4rem;
                    width: 4rem;
                    color: $color-primary;
                }
            }

            &__title {
                font-size: 3rem;
                line-height: 3.5rem;
                color: $color-primary;
                font-weight: 700;
                text-align: center;
                margin-bottom: 1rem;
            }

            &__subtitle {
                font-size: 1.6rem;
                text-align: center;
                max-width: 30rem;
                margin-bottom: 3rem;
            }

            &__phone {
                font-size: 3rem;
                color: $color-primary;
                font-weight: 700;
                text-align: center;
            }
        }

        &__form {
            width: 100%;
            max-width: 60rem;
        }

        &__close-button {
           position: absolute;
           top: 3rem;
           right: 3rem;
        }
    }
}

.form-general {
    color: $color-primary;
    font-family: $font-primary;

    & .wpforms-field-label {
        text-transform: uppercase !important;
        font-size: 1.3rem !important;
        letter-spacing: 0.1rem !important;
    }

    & .wpforms-field-sublabel {
        //text-transform: uppercase !important;
        font-size: 1.3rem !important;
        //letter-spacing: 0.1rem !important;
    }

    & .wpforms-submit-spinner {
        position: absolute !important;
        //display: block !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        bottom: -4rem !important;
    }

    & input {
        border-radius: 0px !important;
        font-size: 1.6rem !important;
    }

    & textarea {
        font-family: $font-primary !important;
        font-size: 1.6rem !important;
    }

    & button[type="submit"] {
        color: $color-white !important;
        background-color: $color-primary !important;
        padding: 0 3rem !important;

        letter-spacing: 0.3rem !important;
        cursor: pointer;
        border: none !important;
        font-size: 1.3rem !important;
        font-family: $font-primary !important;
        text-transform: uppercase !important;
        font-weight: 500 !important;
        // position: relative;
        // text-decoration: none;
        // white-space: nowrap;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // transition: all 0.2s;
        height: 5rem !important;
        width: 100% !important;
        margin-top: 3rem !important;
        // min-width: 20rem;
        // max-width: max-content;

        &:hover {
            color: $color-primary !important;
            background-color: $color-white !important;
            box-shadow: $inner-border-dark !important;
        }
    }
}
