.product-page {
  display: grid;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;

  grid-template-columns: $page-container;

 

  

  &__section-hero {
    grid-column: 1 / -1;
    background-color: $color-black;
  }

  &__section-overview {
    grid-column: 1 / -1;
    margin: 4rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__section-itineraries {
    grid-column: 1 / -1;
    margin: 4rem 0;

    display: flex;
    justify-content: center;
    width: 100%;
    
  }

  &__section-accommodation {
    
    grid-column: 1 / -1;
    margin-top: 4rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;


  }

  &__section-prices {
    grid-column: 1 / -1;
    margin: 4rem 0;
  }

  &__section-dates {
    grid-column: 1 / -1;
    margin: 4rem 0;
  }

  &__section-reviews {
    grid-column: 1 / -1;
    margin: 4rem 0;
  }

  &__section-related {


    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

}
 

