.search-page {
  display: grid; //fits into global grid
  grid-row: nav-end / content-end;
  grid-column: 1 / -1;
  grid-template-columns: $page-container;
  @media only screen and (max-width: $bp-small) {
    grid-template-columns:$page-container-small;
  }

  position: relative;
  z-index: 0;



  &__content {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: $page-container;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns:$page-container-small;
    }

    height: 100%;
    z-index: 3;
    margin-top: 3rem;
  }

 
 
  &__bottom {
    grid-column: center-start / center-end;
    height: 50rem;
    background-color: lightblue;
  }

}


